.specialOffer,
.skirts {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.specialOffer {
  background-color: var(--color-white);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-25xl) 0 var(--padding-32xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font);
}

.skirts {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: var(--gap-3xs);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: var(--padding-3xs);
}

.skirts > * {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

@media screen and (max-width: 430px) {
    .specialOffer {
      display: none;
    }
  }