.frameChild {
    box-sizing: border-box;
}
.frameChild {
    width: 200px;
    position: relative;
    border-radius: 50%;
    border: 5px solid var(--color-white);
    height: 200px;
    display: none;
    z-index: 0;
}
.frameItem {
    width: 150px;
    position: absolute;
    margin: 0 !important;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    border-radius: 10px;
    height: 150px;
    object-fit: contain;
    z-index: 1;
}
.ellipseParent,
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ellipseParent {
    width: 200px;
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 97px);
    height: 200px;
    justify-content: center;
    gap: var(--gap-3xs);
    z-index: 0;
}
.video {
    align-self: stretch;
    height: 900px;
    justify-content: flex-start;
    background-image: url(/assets/images/video@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}
@media screen and (max-width: 960px) {
    .ellipseParent {
      flex: 1;
    }
    .video {
        align-self: stretch;
        height: 526px;
        justify-content: flex-start;
        background-image: url(/assets/images/vidipad.png);
    }
}
@media screen and (max-width: 420px) {
    .ellipseParent {
      display: none;
    }
    .video {
      display: none;
    }
}